.scroll-list {
    display: flex;
    flex-direction: column;
    height: 70px;
    overflow-y: scroll;
    margin-top: 10px;
}

/* Стилизация самого скроллбара */
.scroll-list::-webkit-scrollbar {
    width: 6px; /* ширина полосы прокрутки */
  }
  
  /* Стилизация трека (фона полосы) */
  .scroll-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }
  
  /* Стилизация ползунка */
  .scroll-list::-webkit-scrollbar-thumb {
    background: #0d6dfd3e;
    border-radius: 8px;
  }
  
  /* При наведении на ползунок */
  .scroll-list::-webkit-scrollbar-thumb:hover {
    background: #0d6efd;
  }

.list__btn {
    font-size: 14px;
    font-weight: 500;
    color: black;
    height: fit-content;
    border: none;
    background-color: unset;
    padding: 2px 0 3px 10px;
    text-align: left;
}

.list__btn:hover {
    background-color: #0d6dfd3e;
}